{% extends 'base.html.twig' %}

{% block title %}Picture index{% endblock %}

{% block body %}
<div class="container-xl bg-secondary bg-gradient p-5 border-top text-white">
    <h1>Picture index</h1>
    <a class="btn" href="{{ path('app_picture_new') }}">Ajouter</a>
    <table class="table text-white">
        <thead>
            <tr>
                
                <th>Place dans le carroussel</th>
                <th>Nom</th>
                <th>Poster</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
               
                <td>{{ picture.placeOrder }}</td>
                <td>{{ picture.image.originalName}}</td>
                <td><img class="border img-thumbnail img-fluid imgage" src="{{ asset("images/"~picture.image.name)}} "</td>
                {# {{ asset(images/carrousel/{{'picture.imageName'}} ) }} #}
                {# "{{ asset('images/carousel/bureau-62e38f9897cd2555671709.jpeg') }}" #}
                {# images/carrousel/{{ asset(picture.image.name) }} #}
                <td>
                {{ include('picture/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas d'image trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
