{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}

<a type="button" href="{{ path('app_contact_index') }}"><span class="btn">Tous</span></a>
<a type="button" href="{{ path('app_contact_babysitting') }}"><span class="btn">Service Babysitting</span></a>
<a type="button" href="{{ path('app_contact_housekeeping') }}"><span class="btn">Service Ménager</span></a>
<a type="button" href="{{ path('app_contact_personalAssistance') }}"><span class="btn">Service Aide à la personne</span></a>
<a type="button" href="{{ path('app_contact_administrativeDepartment') }}"><span class="btn">Service Administratif Déçès</span></a>

    <h1>Liste des Contacts</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Maiden_name</th>    
                <th>City</th>
                <th>Service</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.maiden_name }}</td>
                <td>{{ contact.city }}</td>
            {% if contact.babysitting_service_id == true %}
                <td>Service : Garde d'enfant</td>
            {% endif %}
            {% if contact.personal_assistance_service_id == true %}
                <td>Service : Aide à la personne</td>
            {% endif %}
            {% if contact.housekeeping_id == true %}
                <td>Service : Aide ménager</td>
            {% endif %}
            {% if contact.administrative_department_id == true %}
                <td>Service : Administratif déçès</td>
            {% endif %}
                <td>{{ contact.created_at ? contact.created_at|date('Y-m-d') : '' }}</td>  
                 <td class="edition">
                <a type="button" href="{{ path('app_contact_show', {'id': contact.id}) }}"><span class="btn"> Voir </span></a>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ include('contact/_delete_form.html.twig') }}
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
