{% extends 'base.html.twig' %}

{% block title %}Frequency index{% endblock %}

{% block body %}
    <h1>Frequency index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for frequency in frequencies %}
            <tr>
                <td>{{ frequency.id }}</td>
                <td>{{ frequency.type }}</td>
                <td>
                    <a href="{{ path('app_frequency_show', {'id': frequency.id}) }}">show</a>
                    <a href="{{ path('app_frequency_edit', {'id': frequency.id}) }}">edit</a>
                       {{ include('frequency/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_frequency_new') }}">Create new</a>
{% endblock %}
