<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!-- Our custom CSS -->
        <link rel="stylesheet" href="{{ asset('CSS/NBSS.css') }}">
        

        <title>NBBS{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" href="{{ asset('images/logoFavicon1.png') }}">

    </head>
    <body>
<!-- Nav -->
        <nav class="navbar navbar-expand-lg navbar bg">
            <div class="container-fluid">
                <a href="./" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                    <img class= "img" src="{{ asset('images/LOGO-NBSS-large blanc.png') }}" height="30" alt="">
                    
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  active" href="">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('app_contact_index') }}"><i class="bi "></i> Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('app_frequency_index') }}"><i class="bi "></i> frequance</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link " href="{{ path('app_personal_assistance_index') }}"><i class="bi "></i> type d'aide</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link " href="{{ path('app_intervention_index') }}"><i class="bi "></i> moment d'intervention</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link " href="{{ path('app_picture_index') }}"><i class="bi "></i>banque d'images</a>
                        </li>


                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown">
                                <span>Charles</span>
                                <i class="bi bi-person-square"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Profil</a></li>
                                <li><a class="dropdown-item" href="#">Backoffice</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item " href="#">Déconnexion</a></li>
                            </ul>
                        </li>
                    </ul>

                    <button type="button" class="btn  me-2">Connexion</button>

                    
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}
    </body>
</html>
