{% extends 'base.html.twig' %}

{% block title %}Recruitment index{% endblock %}

{% block body %}
    <h1>Recruitment index</h1>

    <table class="table">
        <thead>
            <tr>
             
                <th>Titre</th>
               
                <th>Publier le </th>
               
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recruitment in recruitments %}
            <tr>
                
                <td>{{ recruitment.title }}</td>
                
                <td>{{ recruitment.publishedOn ? recruitment.publishedOn|date('Y-m-d') : '' }}</td>
                <td>{{ recruitment.visibility ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_recruitment_show', {'id': recruitment.id}) }}">Voir</a>
                    <a href="{{ path('app_recruitment_edit', {'id': recruitment.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recruitment_new') }}">Create new</a>
{% endblock %}
