{% extends 'base.html.twig' %}

{% block title %}Recruitment{% endblock %}

{% block body %}
    <h1>Recruitment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recruitment.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ recruitment.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ recruitment.content }}</td>
            </tr>
            <tr>
                <th>Published_On</th>
                <td>{{ recruitment.publishedOn ? recruitment.publishedOn|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Visibility</th>
                <td>{{ recruitment.visibility ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recruitment_index') }}">back to list</a>

    <a href="{{ path('app_recruitment_edit', {'id': recruitment.id}) }}">edit</a>

    {{ include('recruitment/_delete_form.html.twig') }}
{% endblock %}
