{% extends 'base.html.twig' %}

{% block title %}PersonalAssistance index{% endblock %}

{% block body %}
    <h1>PersonalAssistance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personal_assistance in personal_assistances %}
            <tr>
                <td>{{ personal_assistance.id }}</td>
                <td>{{ personal_assistance.type }}</td>
                <td>
                    <a href="{{ path('app_personal_assistance_show', {'id': personal_assistance.id}) }}">show</a>
                    <a href="{{ path('app_personal_assistance_edit', {'id': personal_assistance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_personal_assistance_new') }}">Create new</a>
{% endblock %}
